{{fastboot-logo}}
{{edit-link path=path}}
<ul class="list-reset">
  <li class="inline-block mr1">{{link-to "Intro" "index"}}</li>
  <li class="inline-block mr1">{{link-to "Quickstart" "page" "quickstart"}}</li>
  <li class="inline-block mr1">{{link-to "User Guide" "page" "docs/user-guide"}}</li>
  <li class="inline-block mr1">{{link-to "Deploying" "page" "docs/deploying"}}</li>
  <li class="inline-block mr1">{{link-to "Addon Author Guide" "page" "docs/addon-author-guide"}}</li>
</ul>
